body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 20px;
}

#login, #chat {
  max-width: 400px;
  margin: auto;
}

input {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 20%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

#messages {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

#messages li {
  background: #020617;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.send-box {
  display: flex;
  gap: 5px;
  width: 100%;
}

.send-box input {
  flex: 1;
  background-color: #A0FFA4;
}
