
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #144368;
}
body {
  blend-mode: difference;
}
select {
    color: white;
    mix-blend-mode: difference;
}
header {
  position: relative;
  height: 100px;
  background: linear-gradient(
    to bottom,
    #008CFF,
    #4EAFFF,
    #8DCBFF,
    #9AD2FF,
    #FFF2DF
  );
  overflow: hidden;
}

}

.judul {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: 'Cinzel', serif;
  font-size: 28px;

  background: linear-gradient(45deg, #FF8A00, #c850c0, #4158d0, #FF0700, #12FF00);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 100%;
    transform: translateY(0) scale(1) rotate(0deg);
  }

  40% {
    transform: translateY(0) scale(1) rotate(0deg);
  }

  42% {
    transform: translateY(-5px) scale(1.03) rotate(2deg);
  }
  44% {
    transform: translateY(-5px) scale(1.03) rotate(-2deg);
  }
  46% {
    transform: translateY(-5px) scale(1.03) rotate(2deg);
  }
  48% {
    transform: translateY(-5px) scale(1.03) rotate(-2deg);
  }
  50% {
    background-position: 100% 0%;
    transform: translateY(0) scale(1) rotate(0deg);
  }

  100% {
    background-position: 0% 100%;
    transform: scale(1) rotate(0deg);
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 50px;
}

.wave path {
  fill: rgba(95,168,211,0.75);
  animation: waveMove 3s linear infinite;
}

@keyframes waveMove {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.ocean {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  background: linear-gradient(
    to bottom,
    #5fa8d3bf,
    #2a5b83,
    #224b6b,
    #152e42,
    #050b10
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  text-align: center;
}

#login input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

#login button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
}
.chat-box {
  width: 90vw;
  max-width: 420px;
  transform: translateY(-10vh);
  height: 70vh;
  border-radius: 16px;
  background: rgba(0,0,0,0.45);
  border: 1px solid rgba(255,255,255,0.22);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#messages li.system {
  text-align: center;
  color: #ccc;
  font-size: 12px;
  margin: 10px 0;
}

#messages {
  flex: 1; 
  overflow-y: auto;
  list-style: none;
  padding: 12px;
  margin: 0;
}

#messages li {
  background: #020617;
  color: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#messages small {
  font-size: 10px;
  opacity: 0.7;
}

#messages::-webkit-scrollbar {
  width: 6px;
}

#messages::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
}

.send-box {
  display: flex;
  gap: 8px;
  padding: 10px;
  background: rgba(0,0,0,0.6);
}

.send-box input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  animation: gradientMove1 8s ease infinite;
}

.send-box button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
  animation: gradientMove1 8s ease infinite;
}
@keyframes gradientMove1 {
  0% {
    background-position: 0% 100%;
    transform: scale(1) rotate(0deg);
  }

  40% { transform: scale(1) rotate(0deg); }

  42% { transform: scale(1.01) rotate(1deg); }
  44% { transform: scale(1.01) rotate(-1deg); }
  46% { transform: scale(1.01) rotate(1deg); }
  48% { transform: scale(1.01) rotate(-1deg); }

  50% {
    background-position: 100% 0%;
    transform: scale(1) rotate(0deg);
  }

  100% {
    background-position: 0% 100%;
    transform: scale(1) rotate(0deg);
  }
}
.ship {
  position: absolute;
  bottom: 12px;
  left: -120px;
  width: 90px;
  pointer-events: none;

  animation: shipWave 36s linear infinite;
  animation-direction: 5s;
}
@keyframes shipWave {  
  0% {  
    transform: translateX(0) translateY(0);  
  }  
  5% {  
    transform: translateX(12vw) translateY(-2px);  
  }  
  15% {  
    transform: translateX(24vw) translateY(0);  
  }  
  20% {  
    transform: translateX(36vw) translateY(-2px);  
  }  
  25% {  
    transform: translateX(48vw) translateY(0);  
  }  
  30% {  
    transform: translateX(60vw) translateY(-2px);  
  }  
  35% {  
    transform: translateX(75vw) translateY(0);  
  }  
  40% {  
    transform: translateX(87vw) translateY(-2px);  
  }  
  45% {  
    transform: translateX(99vw) translateY(0);  
  }  
  50% {  
    transform: translateX(115vw) translateY(-2px);  
  }  
  100% {  
    transform: translateX(220vw) translateY(0);  
  }  
}
.cloud {
  position: absolute;
  top: 40px;
  width: 140px;
  height: auto;
  fill: rgba(255,255,255,0.9);
  pointer-events: none;
  filter: blur(0.3px);
}


.cloud-1 {
  left: -160px;
  top: -15px;
  animation: cloudMove1 30s linear infinite;
}


.cloud-2 {
  left: -200px;
  top: -10px;
  width: 110px;
  opacity: 0.85;
  animation: cloudMove2 50s linear infinite;
}


.cloud-3 {
  right: -200px;
  top: -25px;
  width: 160px;
  opacity: 0.8;
  animation: cloudMove3 60s linear infinite;
}

@keyframes cloudMove1 {
  from { transform: translateX(0); }
  to   { transform: translateX(120vw); }
}

@keyframes cloudMove2 {
  from { transform: translateX(0); }
  to   { transform: translateX(130vw); }
}

@keyframes cloudMove3 {
  from { transform: translateX(0) scaleX(-1); }
  to   { transform: translateX(-130vw) scaleX(-1); }
}
.containerm {
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.containerm:hover {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
}
#chat {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: absolute;
  
}

#chat.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 5;
}

.UIbawah {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  background: rgba(10, 30, 50, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  z-index: 999;
}
.ui-btn {
  padding: 10px 14px;
  border-radius: 14px;

  background: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.25);
  color: white;

  font-size: 13px;
  font-weight: 600;
  cursor: pointer;

  transition: all 1.25s ease;
}

.ui-btn:hover {
  background: rgba(255,255,255,0.3);
  transform: translateY(-2px);
}

.ui-btn:active {
  transform: translateY(0) scale(0.95);
}
.ui-btn.chat.active {
  transform: translateY(-4px) scale(1.05);
  background: #38bdf8;
  color: #020617;
  box-shadow: 0 10px 24px rgba(56,189,248,0.6);
}
.ui-btn.profile.active {
  transform: translateY(-4px) scale(1.05);
  background: #38bdf8;
  color: #020617;
  box-shadow: 0 10px 24px rgba(56,189,248,0.6);
}
/* PROFIL */
#profile {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 300px;
  transition: opacity 0.3s ease;
  z-index: 6;
}

#profile.active {
  opacity: 1;
  pointer-events: auto;
}

.profile-item span {
  opacity: 0.7;
}

.profile-item strong {
  font-weight: 600;
}


.profile-box {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  width: 90%;
  max-width: 400px;

  background: rgba(20, 67, 104, 0.9);
  backdrop-filter: blur(8px);
  border-radius: 18px;
  padding: 16px;

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  color: white;
}

.profile-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.profile-field {
  margin-bottom: 10px;
}

.profile-field label {
  font-size: 12px;
  opacity: 0.8;
}

.profile-field input,
.profile-field select {
  background-color: black;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 4px;
  opacity: 0.8;
}
#SVProfile {
  background: rgba(20, 67, 104, 0.9);
  background-color: black;
  backdrop-filter: blur(8px);
  border-radius: 18px;
  height: 30px;
}
#p_gender {
    background-color: black;
}
#device-block {
  position: fixed;
  inset: 0;
  background: #020617;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  z-index: 99999;
  padding: 20px;
}
#app {
  display: none;
}
@media (max-width: 480px) {
  #device-block {
    display: none;
  }

  #app {
    display: block;
  }
}